<a href="https://colab.research.google.com/github/ghliddy/group9-project/blob/main/pH_Heatmap_Analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import matplotlib.pyplot as plt
import pandas as pd

In [ ]:
ph_data = "https://raw.githubusercontent.com/ghliddy/group9-project/main/New%20Data%20(csv).csv"

csv = ph_data + "https://raw.githubusercontent.com/ghliddy/group9-project/main/New%20Data%20(csv).csv"

df = pd.read_csv(ph_data)

df.head()

,EXPOCODE,CRUISE_ID,STNNBR,CASTNO,SAMPNO,BTLNBR,SAMPLE_ID,DATE,TIME,LATITUDE,...,PHSPHT_FLAG_W,NH4,NH4_FLAG_W,TCARBN,TCARBN_FLAG_W,ALKALI,ALKALI_FLAG_W,PH_TOT,PH_TMP,PH_TOT_FLAG_W
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UMOL/KG,2,UMOL/KG,NaN,UMOL/KG,NaN,NaN,DEG C,NaN
1,33GG20130609,GU_1302,3.0,3.0,574.0,-999.0,300300.0,9062013.0,22:26,41.105,...,9.0,-999,9,1989.8,2.0,2148.1,2.0,7.932,25,2.0
2,33GG20130609,GU_1302,3.0,3.0,571.0,6.0,300306.0,9062013.0,22:26,41.105,...,2.0,0.2,2,1992.7,2.0,2129.1,2.0,7.888,25,2.0
3,33GG20130609,GU_1302,3.0,3.0,572.0,4.0,300304.0,9062013.0,22:26,41.105,...,2.0,0.5,2,2004.1,2.0,2143,2.0,7.907,25,2.0
4,33GG20130609,GU_1302,3.0,3.0,573.0,2.0,300302.0,9062013.0,22:26,41.105,...,2.0,1.6,2,2053,2.0,2181.3,2.0,7.830,25,2.0

In [ ]:
import numpy as np
df = df.replace(-999., np.NaN)
df

,EXPOCODE,CRUISE_ID,STNNBR,CASTNO,SAMPNO,BTLNBR,SAMPLE_ID,DATE,TIME,LATITUDE,...,PHSPHT_FLAG_W,NH4,NH4_FLAG_W,TCARBN,TCARBN_FLAG_W,ALKALI,ALKALI_FLAG_W,PH_TOT,PH_TMP,PH_TOT_FLAG_W
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,UMOL/KG,2,UMOL/KG,NaN,UMOL/KG,NaN,NaN,DEG C,NaN
1,33GG20130609,GU_1302,3.0,3.0,574.0,NaN,300300.0,9062013.0,22:26,41.1050,...,9.0,-999,9,1989.8,2.0,2148.1,2.0,7.932,25,2.0
2,33GG20130609,GU_1302,3.0,3.0,571.0,6.0,300306.0,9062013.0,22:26,41.1050,...,2.0,0.2,2,1992.7,2.0,2129.1,2.0,7.888,25,2.0
3,33GG20130609,GU_1302,3.0,3.0,572.0,4.0,300304.0,9062013.0,22:26,41.1050,...,2.0,0.5,2,2004.1,2.0,2143,2.0,7.907,25,2.0
4,33GG20130609,GU_1302,3.0,3.0,573.0,2.0,300302.0,9062013.0,22:26,41.1050,...,2.0,1.6,2,2053,2.0,2181.3,2.0,7.830,25,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,33GG20130609,GU_1302,151.0,168.0,111.0,4.0,15116804.0,23062013.0,19:43,36.6667,...,2.0,0,2,2084,3.0,2239.1,2.0,7.909,25,2.0
89,33GG20130609,GU_1302,151.0,168.0,112.0,2.0,15116802.0,23062013.0,19:43,36.6667,...,2.0,0.5,2,2089.3,2.0,2242,2.0,7.918,25,2.0
90,33GG20130609,GU_1302,154.0,171.0,113.0,6.0,15417106.0,23062013.0,22:54,35.9900,...,2.0,0.6,2,1936.6,3.0,2108.2,2.0,8.009,25,2.0
91,33GG20130609,GU_1302,154.0,171.0,114.0,4.0,15417104.0,23062013.0,22:54,35.9900,...,2.0,0.8,2,2015.5,3.0,2180.7,2.0,7.959,25,2.0
92,33GG20130609,GU_1303,154.0,171.0,115.0,2.0,15417102.0,23062013.0,22:54,35.9900,...,2.0,0.4,2,2060.3,2.0,2203.2,2.0,7.913,25,2.0

In [ ]:
df = df.drop(columns=['EXPOCODE', 'CRUISE_ID', 'STNNBR', 'CASTNO', 'SAMPNO', 'BTLNBR' ])
df

,SAMPLE_ID,DATE,TIME,LATITUDE,LONGITUDE,DEPTH,CTDPRS,CTDTMP,CTDSAL,CTDOXY,...,PHSPHT_FLAG_W,NH4,NH4_FLAG_W,TCARBN,TCARBN_FLAG_W,ALKALI,ALKALI_FLAG_W,PH_TOT,PH_TMP,PH_TOT_FLAG_W
0,NaN,NaN,NaN,NaN,NaN,METERS,DBAR,ITS-90,PSS-78,UMOL/KG,...,NaN,UMOL/KG,2,UMOL/KG,NaN,UMOL/KG,NaN,NaN,DEG C,NaN
1,300300.0,9062013.0,22:26,41.1050,-70.6183,0,0,15.042,32.2633,-999,...,9.0,-999,9,1989.8,2.0,2148.1,2.0,7.932,25,2.0
2,300306.0,9062013.0,22:26,41.1050,-70.6183,43,3,15.042,32.2633,272,...,2.0,0.2,2,1992.7,2.0,2129.1,2.0,7.888,25,2.0
3,300304.0,9062013.0,22:26,41.1050,-70.6183,43,21.4,12.4814,32.327,278,...,2.0,0.5,2,2004.1,2.0,2143,2.0,7.907,25,2.0
4,300302.0,9062013.0,22:26,41.1050,-70.6183,43,39.3,10.0036,32.5436,258,...,2.0,1.6,2,2053,2.0,2181.3,2.0,7.830,25,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
88,15116804.0,23062013.0,19:43,36.6667,-75.1783,35,20,14.5181,33.6014,236,...,2.0,0,2,2084,3.0,2239.1,2.0,7.909,25,2.0
89,15116802.0,23062013.0,19:43,36.6667,-75.1783,35,32,14.2746,33.8149,235,...,2.0,0.5,2,2089.3,2.0,2242,2.0,7.918,25,2.0
90,15417106.0,23062013.0,22:54,35.9900,-75.5350,24,3,22.5795,29.9956,238,...,2.0,0.6,2,1936.6,3.0,2108.2,2.0,8.009,25,2.0
91,15417104.0,23062013.0,22:54,35.9900,-75.5350,24,10,21.5109,32.1024,236,...,2.0,0.8,2,2015.5,3.0,2180.7,2.0,7.959,25,2.0
92,15417102.0,23062013.0,22:54,35.9900,-75.5350,24,21,17.5142,32.8301,234,...,2.0,0.4,2,2060.3,2.0,2203.2,2.0,7.913,25,2.0